
* {
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: #5CDB95;
    display: flex;
    height: 70px;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.nav2 {
    margin-left: 60px;
}

nav h1 {
    color: #05386B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.9rem;
    padding-left: 40px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
}

nav a:hover {
    color: #05386B;
}

.text-style1 {
    font-family: "Pacifico", cursive;;
}

.green {
    color: #05386B;
}

.intro {
    background-color: #5CDB95;
    display: flex;
    color: #EDF5E1;
    height: 700px;
    margin-right: 20px;
}

.intro-1 {
    width: 600px;
    height: 280px;
    padding-top: 130px;
    padding-left: 70px;
    margin: 30px;
    overflow: hidden; /* Ensure the text stays hidden until animation */
}

.intro-1 h1 {
    font-size: 50px;
}

.intro-1 p {
    font-size: 20px;
}

.ani-round {
    animation: imgRotate 50s linear infinite;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: imgRotate;
    animation-timeline: auto;
    animation-range-start: normal;
    width: 530px;
    height: 530px;
    padding-top: 50px;
}

@keyframes imgRotate {
    100% {
        transform: rotate(360deg);
    }
}

.animation-container {
    overflow: hidden; /* Ensure the text stays hidden until animation */
  }
  
  .animated-text {
    animation: slideFromLeft 1s ease-out; /* Define animation */
    animation-fill-mode: forwards; /* Keep the final state of animation */
    opacity: 0; /* Start with opacity 0 */
    transform: translateX(-100%); /* Start position outside of viewport */
  }
  
  @keyframes slideFromLeft {
    0% {
      opacity: 0; /* Start with opacity 0 */
      transform: translateX(-100%); /* Start position outside of viewport */
    }
    100% {
      opacity: 1; /* End with opacity 1 */
      transform: translateX(0); /* End position at the beginning of viewport */
    }
  }

  .quality {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .box {
    background-color: whitesmoke;
    height: 190px;
    width: 230px;
    padding: 20px;
    margin: 40px;
    border-radius: 5px;
  }

  .box:hover {
    background-color: #05386B;
    color: white;
  }

  .box i {
    font-size: 45px;
    margin-top: 10px;
  }

  .box p {
    font-size: 25px;
    margin-top: 15px;
  }

  .box span {
    font-size: 15px;
    margin-top: 25px;
  }

  .manu {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .manu h1 {
    font-size: 30px;
    color: #5CDB95;

  }

  .manu h2 {
    font-size: 40px;
    color: #05386B;
  }

  .manu-nav {
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: 10px;
  }

  .manu-nav-item a {
    display: flex;
    width: 140px;
  }
  .nav-texts {
    display: grid;
    margin-left: 10px;
    color: #05386B;
  }


  .nav-texts small {
    font-size: 14px;
    color: #666565;
  }

  .nav-texts p {
    font-size: 16px;
    color: #0f172B;
  }

  .manu-nav-item a i {
    color: #5CDB95;
    font-size: 30px;
  }

  .manu-nav a {
    text-decoration: none;
  }


  .manu ul li {
    list-style: none;
  }

  .itams {
    display: flex;
    text-align: left;
    justify-content: center;
  }

  .itams-info {
    display: flex;
    width: 400px;
    height: 80px;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
  }

  .itam-info-text {
   margin-left: 15px;
   margin-top: 10px;
  }

  .itam-info-text1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
  }
  .itam-info-text1 button {
    margin-left: 90px;
    background-color: #0f172B;
    color: #EDF5E1;
    border-radius: 5px;
    width: 90px;
    height: 25px;
  }
  
  .itam-info-text2 {
    font-size: 14px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
  }

  .cart {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #221b1b;
  }

  .cart h2 {
    font-size: 2.3rem;
    color: #0f172B;
  }
  .cart button{
    background-color: #5CDB95;
    border-radius: 20px;
    height: 25px;
    font-size: 1.0rem;
    font-weight: 600;
  }

  footer {
    background-color: #221b1b;
    color: white;
  }

  .footer-info {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    margin-top: 20px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    word-spacing: 3px;
    font-size: 1.2rem;
  }

  .contect-info1 {
    display: grid;
    height: 200px;
  }

  .h1 {
    font-size: 2.0rem;
    color: #5CDB95;
    font-weight: 500;
  }

  .contect-info1 a {
    text-decoration: none;
    color: #EDF5E1;
  }

  .contect-info2 {
    display: grid;
    height: 200px;
    font-size: 1.0rem;
  }

  .contect-info3{
    display: grid;
    height: 200px;
  }

  .contect-info4 {
    display: grid;
    height: 200px;
    width: 280px;
    font-size: 1.1rem;
  }

  .email-box {
    background-color: white;
    height: 50px;
    border: #5CDB95 1px solid;
  }

  .email-box input {
    height: 50px;
    width: 180px;
    background-color: white;
    font-size: 1.0rem;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .email-box button {
    height: 30px;
    width: 60px;
    background-color: #5CDB95;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
  }

  .rights {
    height: 100px;
  }

  .rights p {
    margin-top: 10px;
    margin-left: 10px;
    word-spacing: 2px;
  }

  .rights p a {
    color: white;
  }


